body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:327px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u760 {
  position:absolute;
  left:7px;
  top:8px;
}
#u760_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:165px;
  background-image:none;
}
#u760_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:165px;
  color:#FFFFFF;
}
#u761_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:165px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u761.mouseDown {
}
#u761_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:165px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u761.selected {
}
#u761_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:165px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u761.disabled {
}
#u762 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:2px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:27px;
  width:126px;
  height:1px;
  color:#006699;
  text-align:left;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-17px;
  width:122px;
  word-wrap:break-word;
}
#u765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:30px;
  height:30px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:136px;
  width:44px;
  height:15px;
  font-size:12px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:102px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:28px;
  width:102px;
  height:102px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:29px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:127px;
  width:36px;
  height:29px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
