body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:357px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1990 {
  position:absolute;
  left:57px;
  top:376px;
}
#u1990_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
  background-image:none;
}
#u1990_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
  visibility:hidden;
  background-image:none;
}
#u1990_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:86px;
  width:300px;
  height:300px;
}
#u1996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
