body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:145px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:89px;
  width:50px;
  height:38px;
}
#u462_img.mouseDown {
}
#u462.mouseDown {
}
#u463 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:83px;
  width:50px;
  height:50px;
}
#u464_img.mouseDown {
}
#u464.mouseDown {
}
#u465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:15px;
  width:50px;
  height:50px;
}
#u466_img.mouseDown {
}
#u466.mouseDown {
}
#u467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:15px;
  width:50px;
  height:50px;
}
#u468_img.mouseDown {
}
#u468.mouseDown {
}
#u469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
