body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:142px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:86px;
  width:50px;
  height:42px;
}
#u404_img.mouseDown {
}
#u404.mouseDown {
}
#u405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:22px;
  width:50px;
  height:44px;
}
#u406_img.mouseDown {
}
#u406.mouseDown {
}
#u407 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:19px;
  width:50px;
  height:50px;
}
#u408_img.mouseDown {
}
#u408.mouseDown {
}
#u409 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
