body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:344px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:695px;
}
#u2044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:695px;
}
#u2045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:340px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2046 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:60px;
  width:320px;
  height:568px;
}
#u2047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
