body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:223px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u1772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u1773 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:0px;
  width:2px;
  height:60px;
  color:#FFFFFF;
}
.u1774 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u1775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u1776 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u1777 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:2px;
  width:77px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u1778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
.u1779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
.u1779 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:19px;
  width:57px;
  height:17px;
  color:#666666;
}
.u1780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u1781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
.u1781 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:2px;
  width:73px;
  height:17px;
  color:#666666;
}
.u1782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1771-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:60px;
}
#u1771-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:201px;
  height:60px;
}
#u1771-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:201px;
  height:60px;
}
#u1771 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:20px;
  width:201px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
