body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:139px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:31px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:19px;
  width:50px;
  height:31px;
}
#u476_img.mouseDown {
}
#u476.mouseDown {
}
#u477 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:31px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:19px;
  width:50px;
  height:31px;
}
#u478_img.mouseDown {
}
#u478.mouseDown {
}
#u479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
