body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:185px;
  width:50px;
  height:46px;
}
#u218_img.mouseDown {
}
#u218.mouseDown {
}
#u219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:186px;
  width:50px;
  height:44px;
}
#u220_img.mouseDown {
}
#u220.mouseDown {
}
#u221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:104px;
  width:43px;
  height:50px;
}
#u222_img.mouseDown {
}
#u222.mouseDown {
}
#u223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:107px;
  width:50px;
  height:43px;
}
#u224_img.mouseDown {
}
#u224.mouseDown {
}
#u225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:104px;
  width:43px;
  height:50px;
}
#u226_img.mouseDown {
}
#u226.mouseDown {
}
#u227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:107px;
  width:50px;
  height:43px;
}
#u228_img.mouseDown {
}
#u228.mouseDown {
}
#u229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:183px;
  width:46px;
  height:50px;
}
#u230_img.mouseDown {
}
#u230.mouseDown {
}
#u231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:265px;
  width:46px;
  height:50px;
}
#u232_img.mouseDown {
}
#u232.mouseDown {
}
#u233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:265px;
  width:43px;
  height:50px;
}
#u234_img.mouseDown {
}
#u234.mouseDown {
}
#u235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:267px;
  width:50px;
  height:47px;
}
#u236_img.mouseDown {
}
#u236.mouseDown {
}
#u237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:269px;
  width:50px;
  height:43px;
}
#u238_img.mouseDown {
}
#u238.mouseDown {
}
#u239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:185px;
  width:50px;
  height:46px;
}
#u240_img.mouseDown {
}
#u240.mouseDown {
}
#u241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:22px;
  width:43px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:39px;
  width:300px;
  height:33px;
  font-size:14px;
  color:#666666;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:21px;
  width:16px;
  height:16px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
