body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:231px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:50px;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:156px;
  width:49px;
  height:50px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:21px;
  width:50px;
  height:32px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:50px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:12px;
  width:47px;
  height:50px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:12px;
  width:50px;
  height:50px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:93px;
  width:50px;
  height:36px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:50px;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:86px;
  width:41px;
  height:50px;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:86px;
  width:50px;
  height:50px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:156px;
  width:50px;
  height:50px;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
