body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:351px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u774 {
  position:absolute;
  left:0px;
  top:0px;
}
.u774_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
  background-image:none;
}
.u774_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u775 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:20px;
  height:20px;
}
.u776 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
.u777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
.u777_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u777.selected {
}
.u778 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
.u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
.u779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:320px;
  height:1px;
}
.u780 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
.u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:10px;
}
.u781 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:15px;
  width:6px;
  height:10px;
}
.u782 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
.u783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u783 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:57px;
  height:17px;
}
.u784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u773-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u773-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:320px;
  height:41px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:25px;
  width:320px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
