body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:153px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:25px;
  width:50px;
  height:49px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:25px;
  width:50px;
  height:50px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:99px;
  width:50px;
  height:50px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:100px;
  width:50px;
  height:47px;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
