body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:151px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:37px;
  width:50px;
  height:46px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:104px;
  width:50px;
  height:50px;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:45px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:37px;
  width:50px;
  height:45px;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:104px;
  width:50px;
  height:50px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
