body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:79px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:20px;
  width:50px;
  height:38px;
}
#u410_img.mouseDown {
}
#u410.mouseDown {
}
#u411 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
