body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:353px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:2px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:87px;
  width:78px;
  height:1px;
  font-size:17px;
  color:#000000;
}
#u869_img.selected {
  left:-1px;
  top:-1px;
  width:81px;
  height:4px;
}
#u869.selected {
}
#u870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-22px;
  width:74px;
  word-wrap:break-word;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:2px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:87px;
  width:78px;
  height:1px;
  font-size:17px;
  color:#000000;
}
#u871_img.selected {
  left:-1px;
  top:-1px;
  width:81px;
  height:4px;
}
#u871.selected {
}
#u872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-22px;
  width:74px;
  word-wrap:break-word;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:2px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:87px;
  width:78px;
  height:1px;
  font-size:17px;
  color:#000000;
}
#u873_img.selected {
  left:-1px;
  top:-1px;
  width:81px;
  height:4px;
}
#u873.selected {
}
#u874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-22px;
  width:74px;
  word-wrap:break-word;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:2px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:87px;
  width:78px;
  height:1px;
  font-size:17px;
  color:#000000;
}
#u875_img.selected {
  left:-1px;
  top:-1px;
  width:81px;
  height:4px;
}
#u875.selected {
}
#u876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-22px;
  width:74px;
  word-wrap:break-word;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:98px;
  width:312px;
  height:170px;
  overflow:hidden;
}
#u877_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u877_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u877_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:170px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u877_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u877_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:170px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u877_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u877_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:170px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u877_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
